Natural-Language-Interface-to-Database/NLI-Database-SIML/obj/
Natural-Language-Interface-to-Database/NLI-Database-Oscova/obj/
Natural-Language-Interface-to-Database/NLI-Database-SIML/bin/Debug/SIML.zip
Natural-Language-Interface-to-Database/packages/
oscova-android-bot/obj/
oscova-android-bot/packages/
oscova-console-bot/obj/
oscova-console-bot/packages/
oscova-excel-bot/packages/
oscova-excel-bot/OscovaExcelBot/obj
oscova-excel-bot/*.pdf